<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sistema_de_facturas/css/login.css' %}">
</head>
<body>
    <div class="container">
        <h1>Panel de Administración</h1>
        <ul>
            
                <li><a >ver propietarios</a></li>
   
            <li><a >Gestionar Registros</a></li>
            
        </ul>
    </div>
</body>
</html>